<form role="form" id="FormularioOperario" class="formOperario">
				  <div class="form-group">
				    <label for="codigo">Código</label>
				    <input type="text" name="codigo" class="form-control codigo" placeholder="Código de operario" value="<%=codigo %>" required minlength="8">
				  </div>
				  <div class="form-group">
				    <label for="dni">DNI</label>
				    <input type="text" name="dni" class="form-control dni" placeholder="DNI del operario" value="<%=dni %>" required minlength="8">
				  </div>				  
				  <div class="form-group">
				    <label for="nombre">Nombres</label>
				    <input type="text" name="nombres" class="form-control nombres" placeholder="Nombres" value="<%=nombres %>" required minlength="2">
				  </div>
				  <div class="form-group">
				    <label for="nombre">Apellidos</label>
				    <input type="text" name="apellidos" class="form-control apellidos" placeholder="Apellidos" value="<%=apellidos %>" required minlength="2">
				  </div>				  
				  <div class="form-group">
				    <label>Estado</label>
				    <select class="form-control estado" name="estado">
					  <option value="activo" <%if(estado == 'activo'){%>selected="selected" <%}%> >activo</option>
					  <option value="inactivo"  <%if(estado == 'inactivo'){%>selected="selected" <%}%> >inactivo</option>
					</select>
				  </div>
</form>