<form role="form" id="FormularioRequerimientoInterno" class="formRequerimientoInterno">
<%if(local_id == 0){%>
				  <div class="form-group">
					<label>Local</label>
					<select class="form-control local" name="local_id">
						<option value="">Seleccione...</option>
					</select>					    	
				  </div>
<!-- 				  <div class="form-group">
				  					<label>Tipo de salida</label>
				  					<select class="form-control tipo" name="tipo">
				  						<option value="">Seleccione...</option>
				  						<option value="uso interno">uso interno</option>
				  						<option value="uso operario">uso operario</option>
				  						<option value="uso incidencia">uso incidencia</option>
				  					</select>					    	
				  </div> -->				  
				  <div class="form-group requerimiento_detalle">
				  </div>
<% }else{ %>
	<div class="form-group">
		<div class="row">
			<div class="col-lg-4">
				<label>Local:</label>
				<%=local%>	
			</div>		
			<div class="col-lg-4">
				<label>Fecha de creación:</label>
				<%=created_at%>
			</div>
		</div>
	</div>
	<div class="form-group requerimiento_detalle">
	</div>					  
<% } %>
</form>